body {
    margin: 0;
    padding: 0;
}

/* Home Page */
.home-page {
    * {
        font-family: sans-serif;
    }

    .background {
        width: 100%;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("./assets/home_background.jpg");
        background-position: center;
        background-size: cover; 
    }

    .logo {
        width: 120px;
        cursor: pointer;
    }

    .navbar {
        width: 85%;
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative
    }

    .navbar ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }

    .navbar ul li::after{
        content: '';
        width: 0;
        height: 3px;
        background: #009688;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;
    }

    .navbar ul li:hover::after{
        width: 100%;
    }

    .content{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: #fff;
    }

    .content h1{
        font-size: 70px;
    }

    button {
        width: 200px;
        padding: 15px 0;
        text-align: center;
        margin: 20px 10px;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid #009688;
        background: transparent;
        color: #fff;
        cursor: pointer;
        /* text-decoration: none; */
        /* text-transform: uppercase; */
        position: relative;
        overflow: hidden;
    }

    span {
        background: #009688;
        height: 100%;
        width: 0;
        border-radius: 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: 0.5s;
    }

    /* button:hover {
        border: none;
    } */

    button:hover span {
        width: 100%;
    }
}

/* Login Page */
.login-page {
    * {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    }

    .background {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
        background: url("./assets/login_register_background.jpg") no-repeat;
        background-position: center;
        background-size: cover; 
    }

    .form-container {
        position: relative;
        width: 400px;
        height: 450px;
        background: transparent;
        border: none;
        border-radius: 20px;
        backdrop-filter: blur(15px) brightness(80%);
        display: flex;
        flex-direction: column; /* Ensure children stack vertically */
        justify-content: center;
        align-items: center;
    }    

    .homelink {
        font-size: 0.9em;
        color: #fff;
        text-align: left;
        position: absolute; /* Position relative to the form-container */
        top: 20px; /* Adjust as needed */
        left: 20px; /* Adjust as needed */
    }
    
    
    .homelink a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    }
    
    .homelink a:hover {
        text-decoration: underline;
    }

    h2 {
        font-size: 2em;
        color: #fff;
        text-align: center;
    }

    .inputbox {
        position: relative;
        margin: 30px 0;
        width: 310px;
        border-bottom: 2px solid #fff;
    }

    .inputbox label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: #fff;
        font-size: 1em;
        pointer-events: none;
        transition: 0.5s;
    }

    /* animations: start */
    input:focus~label,
    input:valid~label {
        top: -5px;
    }

    /* animation:end */
    .inputbox input {
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        padding: 0 35px 0 5px;
        color: #fff;
    }

    .inputbox ion-icon {
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 1.2em;
        top: 20px;
    }

    .forget {
        margin: -10px 0 17px;
        font-size: 0.9em;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }

    .forget label input {
        margin-right: 3px;
    }

    .forget a {
        color: #fff;
        text-decoration: none;
    }

    .forget a:hover {
        text-decoration: underline;
    }

    button {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        background-color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
    }

    .register {
        font-size: 0.9em;
        color: #fff;
        text-align: center;
        margin: 25px 0 10px;
    }

    .register p a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    }

    .register p a:hover {
        text-decoration: underline;
    }

    @media screen and (max-width: 480px) {
        .form-container {
            width: 100%;
            border-radius: 0px;
        }
    }
}

/* Register Page */
.register-page {
    * {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    }

    .background {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
        background: url("./assets/login_register_background.jpg") no-repeat;
        background-position: center;
        background-size: cover; 
    }

    .form-container {
        position: relative;
        width: 400px;
        height: 450px;
        background: transparent;
        border: none;
        border-radius: 20px;
        backdrop-filter: blur(15px) brightness(80%);
        display: flex;
        flex-direction: column; /* Ensure children stack vertically */
        justify-content: center;
        align-items: center;
    }    

    .homelink {
        font-size: 0.9em;
        color: #fff;
        text-align: left;
        position: absolute; /* Position relative to the form-container */
        top: 20px; /* Adjust as needed */
        left: 20px; /* Adjust as needed */
    }
    
    
    .homelink a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    }
    
    .homelink a:hover {
        text-decoration: underline;
    }

    h2 {
        font-size: 2em;
        color: #fff;
        text-align: center;
    }

    .inputbox {
        position: relative;
        margin: 30px 0;
        width: 310px;
        border-bottom: 2px solid #fff;
    }

    .inputbox label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: #fff;
        font-size: 1em;
        pointer-events: none;
        transition: 0.5s;
    }

    /* animations: start */
    input:focus~label,
    input:valid~label {
        top: -5px;
    }

    /* animation:end */
    .inputbox input {
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        padding: 0 35px 0 5px;
        color: #fff;
    }

    .inputbox ion-icon {
        position: absolute;
        right: 8px;
        color: #fff;
        font-size: 1.2em;
        top: 20px;
    }

    .forget {
        margin: -10px 0 17px;
        font-size: 0.9em;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }

    .forget label input {
        margin-right: 3px;
    }

    .forget a {
        color: #fff;
        text-decoration: none;
    }

    .forget a:hover {
        text-decoration: underline;
    }

    button {
        width: 100%;
        height: 40px;
        border-radius: 40px;
        background-color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
    }

    .login {
        font-size: 0.9em;
        color: #fff;
        text-align: center;
        margin: 25px 0 10px;
    }

    .login p a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
    }

    .login p a:hover {
        text-decoration: underline;
    }

    @media screen and (max-width: 480px) {
        .form-container {
            width: 100%;
            border-radius: 0px;
        }
    }
}
